{
  "extends": "eslint:recommended",
  "globals": {
    "setTimeout": true,
    "navigator": true,
    "woosmap": true,
    "window": true,
    "require": true,
    "document": true,
    "module": true,
    "google": true,
    "process": true,
    "Element": true,
    "woosmapRecommendation": true,
    "wgs": true,
    "console": true
  },
  "rules": {
    "no-empty": 0,
    "semi": 2,
    "no-console": [
      "warn",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-undef": 1
  }
}
