#infoPersonne {
  line-height:1em;
  font-family:"Open Sans Condensed";
  font-size:18px;
}
#reco-container {
  float:right;
  max-width:144px;
  position:relative;
}
#top-search, #top-cart, #top-account, #side-panel-trigger, #reco-container {
  margin-left:10px;
}
@media (max-width:1199px) {
  #top-cart .cart-text {
    width:0;
    overflow:hidden;
  }
}
@media (max-width:991px) {
  #header {
    height:224px;
  }
  .search {
    position:static;
  }
  .panier-extras.fright.col_half.col_last.nobottommargin.clearfix {
    width:98%;
    margin-top:10px;
  }
  .header-extras {
    float:left;
  }
  #top-account {
    margin-left:0;
  }
}
@media (min-width:768px) {
  #infoPersonne {
    width:60px;
    float:left;
  }
}  
@media (max-width:767px) {
  #infoPersonne {
    font-size:15px;
    margin-top:10px;
    float:left;
    margin-left:15px;
  }
  #reco-container {
    max-width:130px;
    clear:both;
  }
  #mobile-search-icon {
    margin-left:0;
    float:right;
  }
  #header .header-right {
    margin-top:0;
  }
}
@media (max-width: 479px) {

/* ANNULATION REGLES RESPONSIVE.CSS */
  #top-cart a {
    line-height:50px;
  }
  #top-cart .icon-shopping-cart {
    bottom:5px;
  }
  #top-cart > a > span {
    top:0;
  }
}