/* 
    Document   : specific
    Created on : 22 Jan. 2016, 18:25:37
    Author     : JouéClub
    Description: Alerte cookie
*/
.InfoBar
{
background-color: silver;
color: #333333;
font-weight: normal;
position: absolute;
width: 100%;
top: -15px;
left: 0px;
text-align: center;
border-bottom-width: 2px;
border-bottom-color: #666666;
border-bottom-style: solid;
text-align:center;
padding:2px;
margin:1px;
display:none;
z-index:1;
}
