/* ----------------------------------------------------------------
        Responsive CSS
-----------------------------------------------------------------*/


@media (max-width: 1199px) {
}


@media (min-width: 992px) and (max-width: 1199px) {

    #wrapper { width: 1000px; }

    #header.transparent-header.floating-header .container {
        width: 1030px;
        padding: 0 30px;
    }

    #header.transparent-header.floating-header.sticky-header .container {
        width: 970px;
        padding: 0 15px;
    }

    .header-right .top-links { margin: 0 0 12px 0}

    #primary-menu.sub-title ul > li > a {
        padding-left: 15px;
        padding-right: 15px;
    }

    #primary-menu ul li.mega-menu .mega-menu-content,
    .floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content { width: 940px; }

    .floating-header #primary-menu ul li.mega-menu .mega-menu-content { width: 1030px; }

    /*****************************************/
    /***************** Home ******************/
    /*****************************************/
    .home-pub-1 {margin-bottom: 10px}

    /*-------------------------------------------------*/
    /*-------------- COMPTE GENERAL -------------------*/
    /*-------------------------------------------------*/
    .compte .tab-nav li a{font-size: 12px!important;padding-right: 7px!important}



}


@media (max-width: 991px) {

    /* header */
    #logo {margin-top: 18px}
    .header-right { position: relative; }
    .header-right .top-links { margin: 12px 0 14px 8px!important}
    .header-right .top-links a { font-size: 12px!important; padding: 0 6px 0 4px!important;}
    .header-extras li { margin-left: 0px; }
    .header-extras li .he-text { padding-left: 10px; }
    #top-cart{margin-left: 10px}

    /* menu */ 
    #primary-menu.sub-title.style-2 > div > ul > li > a{padding-left: 2px; padding-right: 2px; font-size: 12px;}
    #primary-menu ul li.mega-menu .mega-menu-content, .floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content { width: 720px; }   



    #primary-menu ul li.mega-menu .mega-menu-content, .floating-header.sticky-header #primary-menu ul li.mega-menu .mega-menu-content{height: 420px!important}

    .menu-marques-lettres{height: 80px}
    .menu-marques-lettres:before {top: 80px;}
    .menu-marques-lettres:after { top: 80px; }
    .menu-marques-lettre {font-size: 20px!important; width:6.6%!important; line-height: 40px!important}
    .menu-marques-liste-marque{ position: relative;overflow-y: hidden; height: 320px;}
    .menu-marques-col-marque a {font-size: 12px!important; letter-spacing: 0px!important}
    .menu-marques-right{ height:420px;}


    .menu-heros-lettres{height: 80px}
    .menu-heros-lettres:before {top: 80px;}
    .menu-heros-lettres:after { top: 80px; }
    .menu-heros-lettre {font-size: 20px!important; width:6.6%!important; line-height: 40px!important}
    .menu-heros-liste-hero{ position: relative;overflow-y: hidden; height: 320px;}
    .menu-heros-col-hero a {font-size: 12px!important; letter-spacing: 0px!important}
    .menu-heros-right{ height:420px;}



    /*****************************************/
    /***************** Home  *****************/
    /*****************************************/
    .home .liste-page-produits .liste-page-produit {width: 50%; border-right:none!important}
    .home .liste-page-produits .liste-page-produit:nth-child(odd) {border-right: 1px solid #dddddd!important}
    .home .liste-page-produits .liste-page-produit:nth-child(even) {border-right: none!important}
    .home .home-tabs ul.tab-nav li {width: 30%}

    .home-slider.col_three_fourth  {width: 100%; margin-right: 0%; margin-bottom: 0px!important}
    .home-pubs {width: 100%; margin-top: 30px}
    .home-pub-1, .home-pub-2  {float: left; width: 50%; box-sizing: border-box; margin-bottom: 0px}
    .home-pub-1  {padding-right: 5px}
    .home-pub-2  {padding-left: 5px}
    .home-avants {margin-top: 30px}
    .home-avants .home-avant {margin-bottom: 10px!important}



    /*****************************************/
    /************* Page univers **************/
    /*****************************************/
    .univers .liste-univers .liste-single-univers {width: 50%; clear:none!important}


    /*****************************************/
    /********** Page liste produit ***********/
    /*****************************************/
    .liste-page .liste-page-pub a {font-size: 12px!important}
    .liste-page .liste-page-pub-zone1 {font-size: 15px;}
    .liste-page .liste-page-pub-zone2 {font-size: 12px}

    .liste-page .liste-page-tri .col_one_third{width: 100%!important; margin-bottom: 10px!important; clear: both}
    .liste-page .liste-page-tri .liste-tri select{max-width: 60%!important;margin: 0 auto}

    .liste-page-produits .liste-page-produit {width: 50%; border-right:none; clear:none!important}
    .liste-page-produits .liste-page-produit:nth-child(odd) {border-right: 1px solid #dddddd; clear: both!important}


    /*****************************************/
    /**************** Detail  ****************/
    /*****************************************/
    .detail .detail-tabs ul.tab-nav {padding-left: 0px!important}
    .detail .detail-tabs ul.tab-nav li {width: 30%}

    .detail .detail-related .detail-related-product{width: 33%; border-right: 1px solid #dddddd!important}
    .detail .detail-related .detail-related-product:nth-child(3n+1){border-right:none!important}
    .detail .detail-related .detail-related-product:nth-child(4n+1){clear: both}


    /*****************************************/
    /********** ORDRER PROCESS BAR ***********/
    /*****************************************/
    .order-process-bar-step{margin-bottom: 10px; opacity:0.3}
    .order-process-bar-active1 { opacity:1!important}
    .order-process-bar-active1:after { border-left: 0px;}
    .order-process-bar-active2:after { border-left: 0px;}
    .order-process-bar-step{margin-bottom: 10px; opacity:0.3}


    /*****************************************/
    /**************** PANIER *****************/
    /*****************************************/
    .panier .panier-liste{width: 100%}
    .panier .besoin-aide{width: 100%; margin-top:20px }
    .panier .besoin-aide p{line-height: 1.8em!important; font-size: 1.2em}

    .panier .panier-total div{margin-bottom: 10px!important; text-align: right!important}

    .panier .panier-related .panier-related-product{width: 33%; border-right: 1px solid #dddddd!important}
    .panier .panier-related .panier-related-product:nth-child(3n+1){border-right:none!important}
    .panier .panier-related .panier-related-product:nth-child(4n+1){clear: both}    

    /*****************************************/
    /************** INSCRIPTION **************/
    /*****************************************/
    .inscription .btn-connect{ background-image: none!important }
    .inscription .btn-connect:hover{ background-image: none!important }

    /*******************************************/
    /**************** PAIEMENT *****************/
    /*******************************************/
    .paiement .paiement-frais-livraison div{margin-bottom: 10px!important; text-align: right!important; padding-right: 10px}
    .paiement .paiement-total div{margin-bottom: 10px!important; text-align: right!important; padding-right: 10px}


    /*-------------------------------------------------*/
    /*-------------- COMPTE GENERAL -------------------*/
    /*-------------------------------------------------*/
    .compte .tab-nav li, .compte .tab-nav li:last-child {width: 100%; margin-bottom: 10px}
    .compte .tab-nav li a{font-size: 16px!important; border-bottom: 1px solid #dddddd!important; text-align: center; padding-left: 10px!important; padding-right: 10px!important}


    /*-------------------------------------------------*/
    /*-------------- COMPTE PASSWORD -------------------*/
    /*-------------------------------------------------*/
    .compte-password .compte-password-form1{width: 100%; margin: 20px auto}
    .compte-password .compte-password-form1 a.button{ width: 100%; text-align: center}

    /*-------------------------------------------------*/
    /*-------------- COMPTE ADRESSES -------------------*/
    /*-------------------------------------------------*/
    .compte-adresses .compte-adresses-form1{width: 100%; margin: 20px auto}
    .compte-adresses .compte-adresses-form1 a.button{ width: 100%; text-align: center}

    /*-------------------------------------------------*/
    /*-------------- COMPTE NEWSLETTER ----------------*/
    /*-------------------------------------------------*/
    .compte-newsletter .compte-newsletter-form1{width: 100%; margin: 20px auto}
    .compte-newsletter .compte-newsletter-form1 form{width: 100%}
    .compte-newsletter .compte-newsletter-form1 .line{margin: 20px 0 10px 0}
    .compte-newsletter .compte-newsletter-form1 a.button{ width: 100%; text-align: center}


    /*-------------------------------------------------*/
    /*------------------ INFOCONSO --------------------*/
    /*-------------------------------------------------*/
    #content.infoconso .infoconso-col1{font-size: 22px!important}

}




@media (min-width: 768px) and (max-width: 991px) {
    /* footer */
    #footer .footer-nl .footer-form-nl { padding-top: 0px; }
    #footer .col_two_fifth, #footer .col_three_fifth{width: 100%}
    #footer .footer-adresses .carte{min-height: 200px; }
    #footer .si-facebook, #footer .si-twitter {margin: 10px 10px 0 0}
    #footer .footer-liens .footer-liens-menu{ min-height: 18em;}   
}



@media (max-width: 767px) {

    /* general */
    .hide-under-768{display: none!important}
    #content .nobottommargin{margin-bottom: 10px!important}

    /* TABLEAU */

    tfoot { display: none; }
    table, thead, tbody, th, td, tr { display: block; }
    thead tr, th { position: absolute; top: -9999px; left: -9999px; }
    tr { border-left: 1px solid #dddddd; border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; border-top: 1px solid #dddddd; margin-bottom: 20px!important }
    td { position: relative; padding: 8px!important; text-align: center!important; border-top: 0px!important; } 
    td:before { top: 6px; left: 6px; color:#555!important; text-align: center; font-weight: bold; text-decoration: underline; white-space: nowrap; display: block; margin: 5px 0 2px 0 }
    .table-responsive{ border: 0px }
    td a { display: block!important; margin: 0 auto!important; white-space: normal }

    /* header */
    .header-left #logo {
        position: relative;
        float: none;
        width: 60%;
        margin: 0 auto
    }

    #logo img{max-height: 80px!important; width: auto!important}

    body { padding: 0 !important; }

    #wrapper { width: 100% !important; }

    .container-fullwidth {
        margin: 0 auto;
        padding: 0 15px !important;
    }

    #gotoTop{ display: none !important; }

    .postcontent,
    .postcontent.bothsidebar,
    .sidebar,
    .col_full,
    .col_half,
    .col_one_third,
    .col_two_third,
    .col_three_fourth,
    .col_one_fourth,
    .col_one_fifth,
    .col_two_fifth,
    .col_three_fifth,
    .col_four_fifth,
    .col_one_sixth,
    .col_five_sixth {
        width: 100%;
        margin-right: 0;
        float: none;
        margin-bottom: 50px !important;
    }


    #header-wrap{display: none}

    #header{margin-top: 15px; height: auto}
    #header .header-left, #header .header-right, #header .panier-extras {
        float: left!important;
        margin-bottom: 0px!important;
        text-align: right!important
    }
    #header .header-left{ width: 60%!important;}
    #header .header-right{ width: 40%!important;margin-top: 10px}

    .search{display: none }

    #mobile-search-icon, #mobile-icon-bebe{display: inline-block}
    #mobile-search-icon img, #mobile-icon-bebe img{height: 25px; width:auto}
    .header-extras{display: none; }
    #top-cart {margin-left: 5px}
    #top-cart a {line-height: 50px;}
    #top-cart img {height: 25px; width:auto}
    #top-cart .cart-text{display: none!important}
    #top-cart .icon-shopping-cart {margin-top: 0; position: relative; bottom: 5px}
    #top-cart > a > span {top: 0; left: 25px}
    #top-cart .top-cart-content{top:45px}

    #logo{float: left;width: 40%}
    .top-links{display: none}

    /* Menu mobile */
    #nav-mobile{display: block; float: left; width: 45px; height: 45px; background: #E31319 url('../img/menu-mobile.png') center -23px no-repeat; margin-right: 5px; margin-top: 14px}
    #menu{display: block;background: #E31319; color: #ffffff}
    #menu:not( .mm-menu ) { display: none; } /* permet de masquer le menu pendant le chargement */
    .mm-menu .mm-listview > li:after {border-color: #ffffff}
    .mm-menu .mm-navbar {color: #ffffff; border-color: #ffffff }
    .mm-menu .mm-navbar > *, .mm-menu .mm-navbar a{color: #ffffff}
    .mm-listview > li:not(.mm-divider):after{left:0}
    .mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after{border-color: #ffffff}
    .mm-menu .mm-listview > li .mm-prev:before, .mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after{border-color: #ffffff}
    .mm-menu .mm-listview > li .mm-prev:after, .mm-menu .mm-listview > li .mm-next:before{border-color: #ffffff;}


    /* footer */
    #footer .footer-nl .container {padding: 3px!important}
    #footer .footer-adresses .carte, #footer .footer-adresses .marques-expertes {min-height: 100%; text-align: center}
    #footer .footer-adresses img{max-height: 150px; width: auto }
    #footer .footer-adresses .col_two_fifth, 
    #footer .footer-adresses .col_three_fifth {margin-bottom: 0px !important;}
    #footer .footer-adresses .col_two_third, #footer .footer-adresses .col_three_third {border-right: none;padding-right: 0px!important}
    #footer .footer-nl .col_three_fourth, #footer .footer-nl .col_one_fourth {margin-bottom: 10px!important}
    #footer .footer-liens .footer-liens-menu{min-height: 1px!important;border-right: none; margin-bottom: 10px!important}
    #footer .footer-liens .col_two_third p{border-right: none}


    /* Copyright */
    .footer-copyright .col_two_third, .footer-copyright .col_one_third {margin-bottom: 10px!important;text-align: center!important}


    /* toggles */
    .toggle .togglec{display: none}
    .toggle .toggleta span.toggle-open{display: none!important}
    .toggle .toggleta span.toggle-closed{display: block!important}


    /*****************************************/
    /***************** Home ******************/
    /*****************************************/
    .home-avants{border-top:1px solid #dddddd; padding-top: 30px}
    .home-avant{width: 50%; float: left}
    .home-avant img{width: 100%;}
    .home-avant:nth-child(odd){padding-right: 5px;}
    .home-avant:nth-child(even){padding-left: 5px;}


    .home .home-tabs ul.tab-nav li {width: 33%; margin: 0}
    .home .home-tabs ul.tab-nav li a{font-size: 12px}


    /*****************************************/
    /**************** DETAIL *****************/
    /*****************************************/
    .detail .detail-actions a {text-align: center; padding: 10px}

    .detail .detail-tabs ul.tab-nav li {width: 33%; margin: 0}
    .detail .detaile-tabs ul.tab-nav li a{font-size: 12px}

    .detail .detail-related .detail-related-product{width: 50%; border-right: none!important; clear:none!important}
    .detail .detail-related .detail-related-product:nth-child(even){border-right:1px solid #dddddd!important}
    .detail .detail-related .detail-related-product:nth-child(2n){clear: both}    


    /*****************************************/
    /**************** PANIER *****************/
    /*****************************************/
    .panier .panier-related .panier-related-product{width: 50%; border-right: none!important; clear:none!important}
    .panier .panier-related .panier-related-product:nth-child(even){border-right:1px solid #dddddd!important}
    .panier .panier-related .panier-related-product:nth-child(2n){clear: both}    
    .panier-liste td:nth-of-type(1):before { content: "PRODUIT(S)"; text-transform: uppercase }
    .panier-liste td:nth-of-type(2):before { content: "DISPONIBILITE"; text-transform: uppercase }
    .panier-liste td:nth-of-type(3):before { content: "QUANTITE"; text-transform: uppercase }
    .panier-liste td:nth-of-type(4):before { content: "PRIX UNITAIRE"; text-transform: uppercase }
    .panier-liste td:nth-of-type(5):before { content: "TOTAL"; text-transform: uppercase }
    .panier-liste td:nth-of-type(6):before { content: "SUPPRIMER"; text-transform: uppercase }
    .panier-liste .panier-item-image{display:none!important}


    /*****************************************/
    /************** INSCRIPTION **************/
    /*****************************************/
    .inscription .form-group label{padding-left: 15px!important}
    .inscription .deja-inscrit-image {display: none}


    /*-------------------------------------------------*/
    /*-------------- ADRESSE ET LIVRAISON -------------*/
    /*-------------------------------------------------*/
    .adresses-livraison .adresse-detail{border-right: none;}

    /*-------------------------------------------------*/
    /*------------------- PAIEMENT --------------------*/
    /*-------------------------------------------------*/
    .paiement .adresse-detail{border-right: none;}


    /*-------------------------------------------------*/
    /*---------------- COMPTE COMMANDES ---------------*/
    /*-------------------------------------------------*/
    .compte .table-commandes td:nth-of-type(1):before { content: "DATE"; }
    .compte .table-commandes td:nth-of-type(2):before { content: "NÂ° DE COMMANDE"; }
    .compte .table-commandes td:nth-of-type(3):before { content: "TOTAL"; }
    .compte .table-commandes td:nth-of-type(4):before { content: "STATUS"; }
    .compte .table-commandes td:nth-of-type(5):before { content: "[+]"; }

    .compte .table-commande-produits td:nth-of-type(1):before { content: "RÃ‰FÃ‰RENCE"; }
    .compte .table-commande-produits td:nth-of-type(2):before { content: "DESCRIPTION"; }
    .compte .table-commande-produits td:nth-of-type(3):before { content: "QUANTITÃ‰"; }
    .compte .table-commande-produits td:nth-of-type(4):before { content: "PRIX UNITAIRE"; }

    .compte .table-commande-livraison td:nth-of-type(1):before { content: "FACTURATION"; }
    .compte .table-commande-livraison td:nth-of-type(2):before { content: "LIVRAISON"; }

    .compte .compte-commande .nobottommargin{margin-bottom: 0px!important; text-align: left!important}

    /*-------------------------------------------------*/
    /*---------------- MODAL RESERVER -----------------*/
    /*-------------------------------------------------*/
    .reserver-adresse .col-md-6{width: 50%!important; float: left}

    /*-------------------------------------------------*/
    /*------------------ INFOCONSO --------------------*/
    /*-------------------------------------------------*/
    #content.infoconso .infoconso-col1, .infoconso .infoconso-col2, .infoconso .infoconso-col3{padding: 10px 20px;}
    #content.infoconso .infoconso-line1{margin-bottom: 10px!important}
    #content.infoconso .infoconso-line2{margin-bottom: 0px!important}
    #content.infoconso .infoconso-col1{width: 100%!important; margin-bottom: 0px!important; font-size: 22px!important}
    #content.infoconso .infoconso-col2{width: 100%!important; margin-bottom: 0px!important;  min-height: 0px}
    #content.infoconso .infoconso-col3{width: 100%!important; margin-bottom: 0px!important}    
    #content.infoconso .infoconso-col3 .nobottommargin{margin-bottom: 0px!important}    
    #content.infoconso .pdf{background: transparent;padding-left: 0px; line-height: inherit;}

    /*-------------------------------------------------*/
    /*---------------- DETAIl CONCOURS -----------------*/
    /*-------------------------------------------------*/
    .concours-detail .radio-inline{width: auto}

}

@media (min-width: 480px) and (max-width: 767px) {
    .container{ width: 99%!important; }

    #header .header-right {margin-top: 0px!important}

    /* footer */
    #footer .footer-adresses .col_two_fifth, 
    #footer .footer-adresses .col_three_fifth {width: 50%; float:left;}
    #footer .footer-france, 
    #footer .footer-etranger,
    #footer .footer-etranger {clear: both; overflow: hidden;  zoom: 1;}

    #footer .footer-liens .col_half{width: 100%!important;  overflow: hidden;  zoom: 1;}
    #footer .footer-liens .col_half.footer-liens-menu{width: 50%!important; float: left; clear: none}



}

@media (max-width: 479px) {  
    /*#header .header-left, #header .header-right{ width: 100% !important}*/

    #logo img{max-height: 45px!important; width: auto!important; max-width: 95%}
    #mobile-search-icon {margin-left: 3px}


    .header-right { position: relative;top:0; left:0}
    .panier-extras {text-align: left!important}
    #mobile-search-icon{display: inline!important;float:none}
    #top-cart .top-cart-content {width: 255px;}
    #top-cart a {line-height: 25px;}
    #top-cart > a > span {top: -8px; left:25px}
    #top-cart .icon-shopping-cart {bottom: 0px}

    /* menu mobile */
    #nav-mobile{margin-top: 8px}
    #nav-mobile{float: left; width: 36px; height: 35px; background-position: 3px -28px;margin-top: 8px}


    /* footer */
    #footer .footer-liens .footer-liens-menu{ margin-bottom: 50px!important}

    /*****************************************/
    /**************** Home *******************/
    /*****************************************/
    .home .liste-page-produits .liste-page-produit:nth-child(odd) {width: 100%; border-right: none!important}
    .home .liste-page-produits .liste-page-produit:nth-child(even) {width: 100%; border-right: none!important}

    .home .home-tabs {display: none}
    /*    .home .home-tabs ul.tab-nav li {width: 100%}
        .home .home-tabs ul.tab-nav li a, .home .home-tabs ul.tab-nav li.ui-tabs-active a{background-position-x: 50px!important}*/

    .home .home-tabs-responsive {display: block}
    .home .home-tabs-responsive a {
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 20px;
        display: block;
        background: #E31319; /*#fac000*/
        padding: 20px 30px 20px 60px;
        margin-bottom: 10px;
        color: #ffffff; /*#03388c*/
        text-transform: uppercase;
        font-weight: bold;
        text-align: center;
        border:1px solid #ffffff;
    }
    .home .home-tabs-responsive a:hover {
        border:1px solid #03388c;
        color: #03388c
    }
    .home .home-tabs-responsive  a.meilleurs-ventes {background: #E31319 url('/img/home/sprite-tabs.png') 15px 15px no-repeat!important; color:#ffffff}
    .home .home-tabs-responsive  a.meilleurs-ventes:hover {background: #ffffff url('/img/home/sprite-tabs.png') 15px -37px no-repeat!important; color:#03388c}
    .home .home-tabs-responsive  a.nouveautes {background: #E31319 url('/img/home/sprite-tabs.png') 15px -92px no-repeat!important; color:#ffffff}
    .home .home-tabs-responsive  a.nouveautes:hover {background: #ffffff url('/img/home/sprite-tabs.png') 15px -146px no-repeat!important; color:#03388c}
    .home .home-tabs-responsive  a.bons-plans {background: #E31319 url('/img/home/sprite-tabs.png') 15px -200px no-repeat!important; color:#ffffff}
    .home .home-tabs-responsive  a.bons-plans:hover {background: #ffffff url('/img/home/sprite-tabs.png') 15px -253px no-repeat!important; color:#03388c}




    /*****************************************/
    /*************** Detail ******************/
    /*****************************************/
    .detail .detail-tabs ul.tab-nav li {width: 100%}
    .detail .detail-tabs ul.tab-nav li a, .home .home-tabs ul.tab-nav li.ui-tabs-active a{background-position-x: 50px!important}

    .detail .detail-related .detail-related-product{width: 100%; border-right: none!important; clear: both!important}
    .detail .detail-related .detail-related-product:nth-child(even){border-right: none!important;}



    /*****************************************/
    /************* Page univers **************/
    /*****************************************/
    .univers .liste-univers .liste-single-univers {width: 100%; border-right: none!important; clear: both}

    /*****************************************/
    /********** Page liste produit ***********/
    /*****************************************/
    .liste-page .liste-page-pub a {font-size: 10px!important}
    .liste-page .liste-page-pub-zone1 {font-size: 12px;top:5%;;bottom:10%;line-height: 1em}
    .liste-page .liste-page-pub-zone2 {font-size: 8px}

    .liste-page-produits .liste-page-produit {width: 100%; border-right: none!important; clear: both}


    /*****************************************/
    /*************** Panier ******************/
    /*****************************************/
    .panier .panier-related .panier-related-product{width: 100%; border-right: none!important; clear: both!important}
    .panier .panier-related .panier-related-product:nth-child(even){border-right: none!important;}
    .panier .btn-panier {background-image: none!important; padding: 10px 5px!important; width: 100%}

    /*-------------------------------------------------*/
    /*-------------- ADRESSE ET LIVRAISON -------------*/
    /*-------------------------------------------------*/
    .adresses-livraison .btn-adresses-livraison {background-image: none!important; padding: 10px 5px!important; width: 100%}

    /*-------------------------------------------------*/
    /*-------------------- PAIEMENT -------------------*/
    /*-------------------------------------------------*/
    .paiement .btn-paiement {background-image: none!important; padding: 10px 5px!important; width: 100%}


    /*-------------------------------------------------*/
    /*-------------- COMPTE GENERAL -------------------*/
    /*-------------------------------------------------*/
    .compte .tab-nav li a{background-image: none!important; font-size: 14px!important}

    /*-------------------------------------------------*/
    /*---------------- MODAL RESERVER -----------------*/
    /*-------------------------------------------------*/
    .reserver-modal header .col-md-3{width: 100%!important; float: left;}
    .reserver-modal header .col-md-6{width: 100%!important; float: left;}
    .reserver-adresse .col-md-6{width: 100%!important; float: none; clear: both}


}


/* ----------------------------------------------------------------
        Retina CSS
-----------------------------------------------------------------*/
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

    #logo a.standard-logo { display: none; }
    #logo a.retina-logo { display: block; }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (                min-resolution: 192dpi) and (max-width: 991px),
only screen and (                min-resolution: 2dppx) and (max-width: 991px) {
    #logo a.standard-logo { display: none; }
    #logo a.retina-logo { display: inline-block; }
}

