body
{ 
    font-family: 'Open Sans', sans-serif;
    height:100%;
    margin:auto;
    width:100%;
}

a{
    text-decoration:none;
    color:#333;
}

.InputRecherche {
    visibility: visible;
    overflow: visible;
    position: absolute;
    display: block;
    width: 81%;
}

.JCencadrement {
    font-size:13px;
    color:black;
    border:1px solid #66a206;
    visibility: visible; 
    overflow: visible;
    position: absolute;
    left: 10px;
    top: 35px;
    margin-left: -11px;
    z-index:100000;
    background:#ddd;
    margin-top:11px;
    border-left:1px solid #e5e5e5;
    border-bottom:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    width:297px;
    padding:20px;
    border-top:0;
    -webkit-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 5px 8px 0px rgba(0,0,0,0.25);
    display:none;
}

.JCencadrement table{
    table-layout:auto;
    width:100%
}

/**********************************/
/********** BLOC GAUCHE ***********/
/**********************************/
.JCencadrement .JCblockGauche {
    float:left;
    width: 255px;
    padding: 0 12px 0 0;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle{
    padding:0 0 1px 0;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle:first-child::before {
    content: "Produits";
    display:block;
    float: left;
    color: #fff;
    margin-bottom: 2px;
    background-color:#E31319;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle:first-child {
    clear: both;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle a  {
    display: block;
    background-color: #fff ;
    padding: 6px;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle img {
    float: none;
    width: 50px;
    display: inline-block;
    vertical-align: middle;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle .lien {
    display: block;
    clear: both;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle span.lien {
    float: none;
    display: inline-block;
    width: 200px;
    vertical-align: middle;
    margin-left: 4px;
    clear: both;
    text-transform: lowercase;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .lien::first-letter {
    text-transform:capitalize;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle .lien:hover,
.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle .lien:hover span {
    color:#e86064;
    text-decoration: none !important; 
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche .BlockStyle .Matched{
    font-weight: bold
}

/******************/
/*** Btn Search ***/
/******************/
.JCencadrement .JCblockGauche .EncadrementBlockGauche a.BtnSearch {
    display: block;
    text-align: center; 
    background-color: #E31319 !important;
    color: #fff !important;
    padding: 6px;
}

.JCencadrement .JCblockGauche .EncadrementBlockGauche a.BtnSearch:hover {  
    text-decoration:none; 
    color: #fac000 !important;
}

/**********************************/
/*********** BLOC DROIT ***********/
/**********************************/
.JCencadrement .JCblockDroit {
    float: left;
    width: 240px;
}

.JCencadrement .JCblockDroit .categorie,
.JCencadrement .JCblockDroit .marque,
.JCencadrement .JCblockDroit .heros {
    color:#39322a;
    margin-bottom: 7px;
}

.JCencadrement .JCblockDroit .BlockStyle{
    padding:0 0 1px 0;
}

.JCencadrement .JCblockDroit .marque .BlockStyle:first-child::before,
.JCencadrement .JCblockDroit .categorie .BlockStyle:first-child::before,
.JCencadrement .JCblockDroit .heros .BlockStyle:first-child::before {
    display:block;
    float: left;
    color: #fff;
    margin-bottom: 2px;
    background-color:#E31319;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
}

.JCencadrement .JCblockDroit .marque .BlockStyle:first-child::before {
    content: "Marque(s)";
}
.JCencadrement .JCblockDroit .categorie .BlockStyle:first-child::before {
    content: "Categorie(s)";
}
.JCencadrement .JCblockDroit .heros .BlockStyle:first-child::before {
    content: "Heros";
}

.JCencadrement .JCblockDroit .marque .BlockStyle:first-child,  
.JCencadrement .JCblockDroit .categorie .BlockStyle:first-child,
.JCencadrement .JCblockDroit .heros .BlockStyle:first-child  { 
    border-top: 1px dotted #000;
    padding-top:7px;
    margin-top: 0px;
    clear:both;
}

.JCencadrement .JCblockDroit .categorie .BlockStyle:first-child {
    margin-top:15px;
}

.JCencadrement .JCblockDroit .BlockStyle .lien {
    display: block;
    clear: both;
    text-transform: lowercase;
}

.JCencadrement .JCblockDroit .BlockStyle .lien::first-letter {
    text-transform:capitalize;
}

.JCencadrement .JCblockDroit .lien:hover,
.JCencadrement .JCblockDroit .lien:hover span {
    cursor: pointer; 
    color:#e86064;
    text-decoration: none !important; 
}

.JCencadrement .JCblockDroit .Matched{
  font-weight: bold
}

/*********/
/* Icone */
/*********/
.JCencadrement .JCblockDroit .icone {
    position:absolute; 
    right:5%; 
    bottom:2%;
}

/******************/
/*** Responsive ***/
/******************/
@media(min-width:34em){ 
}
@media(min-width:48em){
    .JCencadrement {width:552px;}
    .JCencadrement .JCblockGauche {border-right: 1px dotted #000;}
    .JCencadrement .JCblockDroit {margin-left: 15px;}
    .JCencadrement .JCblockDroit .categorie .BlockStyle:first-child {margin-top:0px;}
}
@media(min-width:62em){
    .InputRecherche {width: 86%;}
    .JCencadrement {width:635px;}
    .JCencadrement .JCblockGauche {width: 285px;}
    .JCencadrement .JCblockDroit {width: 270px;margin-left: 30px;}
}
@media(min-width:75em){
    .InputRecherche {width: 89%;}
}
